<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">首页</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">作者</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/competition.html">竞赛信息</a>
</li> 
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/share.html">资源分享</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/specialknowledge.html">专题知识</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/funnymath.html">趣味数学</a>
</li> 
